<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- permission required to make network requests to the ncaa api -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- permission used to check whether the device currently has internet access -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="edu.nd.pmcburne.hwapp.one.BasketballApp"
        android:allowBackup="true"
        android:label="Basketball Scores"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:supportsRtl="true">
        <activity
            android:name="edu.nd.pmcburne.hwapp.one.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>